[Unit]
Description=Minikube Kubernetes Proxy
After=network.target docker.service
Wants=docker.service

[Service]
User={{ minikube_run_user }}
WorkingDirectory=/home/{{ minikube_run_user }}
Environment=HOME=/home/{{ minikube_run_user }}
ExecStart=/usr/local/bin/kubectl proxy --address=0.0.0.0 --accept-hosts=^.*$ --port={{ minikube_proxy_port }}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target